* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, darkblue, blue);
}
body .calcGrid {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(7 1fr);
  border: solid blue 1px;
  border-radius: 8px;
  background-color: white;
}
body .calcGrid button {
  border-radius: 20px;
  margin: 0;
  font-size: 28px;
  width: 75px;
  height: 75px;
  margin: 2px;
}
body .calcGrid .input {
  grid-column: 1/5;
  grid-row: 1/1;
  width: 100%;
  height: 50px;
  font-size: 30px;
}
body .calcGrid .output {
  text-align: end;
  grid-column: 4/5;
  grid-row: 2/3;
  width: 25%;
  height: 50px;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
}
body .calcGrid .oldInput {
  grid-column: 1/4;
  grid-row: 2/3;
  width: 75%;
  height: 50px;
  font-size: 35px;
}
body .calcGrid #equals {
  grid-row: 6/8;
  grid-column: 4;
  height: 98%;
  background-color: blue;
  color: white;
}
body .calcGrid #minus {
  background-color: blue;
  color: white;
}
body .calcGrid #plus {
  background-color: blue;
  color: white;
}
body .calcGrid #times {
  background-color: blue;
  color: white;
}
body .calcGrid #divide {
  background-color: blue;
  color: white;
}
body .calcGrid #delete {
  background-color: blue;
  color: white;
}
body .calcGrid #clear {
  background-color: blue;
  color: white;
}